.form__different-inputs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 30px;
  }
}

.form__price {
  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    width: 228px;
  }
}

.form__buttons-wrapper {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 30px;
    margin-left: 24.5%;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    column-gap: 18px;
  }
}

.form__button {
  min-width: 160px;
  min-height: 46px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $background-color-main;
  border: none;
  border-radius: 4px;
  background-color: $color-base-primary;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $color-base-primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $color-placeholder;
  }

  @media (min-width: $tablet-width) {
    padding: 1px;
    min-width: 150px;
    min-height: 40px;
    font-size: 14px;
  }
}

.form__button--reset {
  background-color: $background-color-main;
  color: $color-base-primary;
  font-size: 14px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    min-width: 140px;
  }

  &:hover,
  &:focus-visible,
  &:active,
  &:disabled {
    color: $background-color-main;
  }

  &:disabled {
    background-color: $color-disabled;
  }
}
