.main-header {
  @media (max-width: ($tablet-width - 1)) {
    margin-right: 0;
  }

  z-index: 2;
}

.main-header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    "logo user"
    "menu menu";

  @media (min-width: $tablet-width) {
    grid-template-columns: 124px 1fr 160px;
    grid-template-areas: unset;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 350px 1fr 300px;
  }
}

.main-header__logo-link-wrapper {
  display: flex;
  align-items: center;
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  padding: 12px 0;
  line-height: 0;
  grid-area: logo;

  @media (min-width: $tablet-width) {
    grid-area: unset;
    min-height: 80px;
    padding: 0;
  }


  &:hover,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    background-color: $secondary-primary;
  }
}

.main-header__logo {
  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    height: 36px;
    min-width: 170px;
  }
}

.main-header__logo-link-description {
  @media (max-width: ($desktop-width - 1)) {
    @include visually-hidden;
  }

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 16px;
    margin-left: 20px;
  }
}

.main-header__navigation {
  grid-area: menu;
  background-color: $background-color-main;

  @media (max-width: ($tablet-width - 1)) {
    position: relative;
    top: 0;
    left: -20px;
    width: 100vw;
    z-index: 1;

    &--with-js {
      position: absolute;
    }

    &--with-js ~ .main-header__user-buttons {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    grid-area: unset;
  }

  &--hidden {
    @media (max-width: ($tablet-width - 1)) {
      display: none;
    }
  }
}

.main-header__navigation-list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.main-header__navigation-item {
  position: relative;

  @media (max-width: ($tablet-width - 1)) {
    border-top: 1px solid $secondary-primary;

    &:last-child {
      border-bottom: 1px solid $secondary-primary;
    }
  }

  &--current {
    @media (min-width: $tablet-width) {
      color: $color-base-primary;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-base-primary;
      }
    }
  }
}

.main-header__navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 58px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }

  &:hover,
  &:focus-visible {
    color: $color-base-primary;
    outline: none;
  }

  &:active {
    background-color: $secondary-primary;
  }
}

.main-header__user-buttons {
  grid-area: user;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    grid-area: unset;
    margin-right: 0;
  }
}

.main-header__user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
  padding: 0 $mobile-indent;
  border: none;
  background-color: inherit;

  &:hover,
  &:focus-visible {
    color: $color-base-primary;
    outline: none;
  }

  &:active {
    background-color: $secondary-primary;
  }

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;

    &:hover > .main-header__user-icon,
    &:focus-visible > .main-header__user-icon {
      fill: $color-base-primary;
    }
  }
}

.main-header__user-icon {
  fill: $color-main;
}

.main-header__user-button-description {
  @media (max-width: ($desktop-width - 1)) {
    @include visually-hidden;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
  }
}

.main-header__menu-toggler {
  display: block;
  position: relative;

  &--hidden {
    display: none;
  }

  &--closed::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 12px;
    background-image: linear-gradient($color-main, 2px, #ffffff 2px, 5px, $color-main 5px, 7px, #ffffff 7px, 10px, $color-main 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--opened {
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $color-main;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $color-main;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
