//нужен, когда например визуально-скрытый но доступный элемент появляется на определенной ширине
@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

@mixin container-main {
  margin-left: $mobile-indent;
  margin-right: $mobile-indent;

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    width: 1360px;
  }
}
