$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$color-main: #333333;
$color-disabled: #e3e3e3;
$color-placeholder: #bdbdbd; //sometimes disabled, stock radio and checks

$color-base-primary: #7859cf;
$color-base-primary-lighter: #9070ec; //hover & focus for btns
$primary-darker: #593cac;
$secondary-primary: #f0ebff;

$background-color-main: #ffffff;
$background-color-second: #f8f8f8;

$background-promo-flat-white: #f3ebe1;
$background-promo-lavender: #eae6fc;
$background-promo-espresso: #e5e6e8;


$mobile-indent: 20px;
$desktop-indent: 40px;

$pagination-hover: rgba(120, 89, 207, 0.25);
